*{
    margin: 0;
    padding: 0;
}

.cabecalho {

    background-color: #dd88c8;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0;
    font-size: 18px;
}