*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho {

    background-color: #f190d4;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0;
    font-size: 18px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#f190d4,#7ef5d7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
} 

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}